<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Red Gate Assessment Template</title>

<style type="text/css">
	body {margin:o; padding:0;}
	#head {width:1000px; height:172px; background:url(images/header.png) top left no-repeat;}
	#main {width:920px; padding:0 30px 0 50px; min-height:200px; background:url(images/page.png) top left repeat-y;}
	#foot {width:1000px; height:66px; background:url(images/footer.png) top left no-repeat;}
</style>

</head>

<body>

<div id="head"></div>

<div id="main">
	<!-- ASSESSMENT CONTENT START -->
	Your assessment content goes here.
	<!-- ASSESSMENT CONTENT END -->
</div>

<div id="foot"></div>

</body>
</html>
